@model BHOffice.Web.Models.Index.IndexModel
@{
    ViewBag.Title = "首页";
    Layout = "../Layout/_Header.cshtml";
}
@section head{
<style>
    .common-container {
        width: 1200px;
        margin: 0 auto;
        padding-top: 34px;
    }

    .mainlib_flex_wapper {
        display: -webkit-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
    }

    .mainlib {
        background-color: #fff;
        min-height: 5rem;
        -webkit-box-flex: 1 1 auto;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

        .mainlib .center-content {
            padding: 30px;
            margin-right: 10%;
        }

    .rightlib {
        -webkit-box-flex: 0 0 320px;
        -moz-flex: 0 0 320px;
        -ms-flex: 0 0 320px;
        flex: 0 0 320px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .mainlib .center-content ul {
        display: flex;
    }

    .mainlib .center-content li {
        flex: auto;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background-color: #008df3;
    }

        .mainlib .center-content li a {
            color: #fff;
        }

    .mainlib .order-search-box {
        position: relative;
        border: 1px solid #d9d9d9;
        padding: 10px;
        min-height: 42px;
    }

        .mainlib .order-search-box .order-num {
            height: 30px;
            line-height: 30px;
            background-color: #f3f8ff;
            padding: 6px;
            margin: 5px;
            border-radius: 3px;
        }

            .mainlib .order-search-box .order-num i {
                float: right;
            }

        .mainlib .order-search-box .input-box {
        }

        .mainlib .order-search-box .input-area {
            height: 30px;
            line-height: 30px;
            padding: 6px 0;
            width: 100%;
        }

    .mainlib .clear-order {
        position: absolute;
        display: block;
        width: 18px;
        height: 18px;
        right: 5px;
        top: 50%;
        margin-top: -9px;
    }

    .mainlib .input-order {
        padding-right: 30px;
    }

    .mainlib .flex-cells {
        display: flex;
        flex-flow: wrap;
    }

    .mainlib .flex-cell {
        flex: auto;
    }

    .mainlib .order-btn-box {
        margin-top: 20px;
    }

        .mainlib .order-btn-box a.btn {
            color: #fff;
            width: 10%;
            float: right;
        }

    .rightlib .right-content {
        padding: 30px 0;
    }

    .common-notice {
        line-height: 21px;
    }

        .common-notice ul {
            padding: 0 20px 0 10px;
        }

        .common-notice li {
            margin-top: 12px;
            color: #3d464d;
            position: relative;
        }

            .common-notice li:first-child {
                margin-top: 0;
            }

            .common-notice li .secondary-color {
                color: #a4abb1;
                font-size: 14px;
            }

            .common-notice li h3 {
                padding-left: 30px;
                font-size: 14px;
                font-weight: 400;
                width:300px;
                overflow:hidden;
            }

            .common-notice li p {
                padding-left: 30px;
            }

            .common-notice li i {
                position: absolute;
                color: #4285f4;
                left: 0;
                top: 2px;
            }

    .right-content-title {
        position: relative;
        padding: 0 0 15px 0;
        margin-bottom: 15px;
    }

        .right-content-title:after {
            content: " ";
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            color: #4285f4;
            bottom: 0;
            border-bottom: 1px solid #4285f4;
            -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
            -webkit-transform: scaleY(2);
            transform: scaleY(2);
        }

        .right-content-title h2 {
            color: #3d464d;
            font-size: 16px;
        }

        .right-content-title i {
            color: #4285f4;
        }

    .order-search-result {
        padding-bottom:300px;
    }

        .order-search-result table {
            width: 100%;
        }

            .order-search-result table caption {
                line-height: 30px;
            }

        .order-search-result th, .order-search-result td {
            border: 1px solid #d9d9d9;
            padding: 5px;
            line-height: 24px;
            text-align: left;
        }
        .order-search-result .internal-express{
            text-align:center;
        }
        .order-search-result .internal-express a{
            color:#369;
        }

        
        .common-footer{
            background:#232c3b;
            padding:40px;
            position:fixed;
            bottom:0px;
            width:100%;
        }
        .common-footer .container{
            margin:0 auto;
            width:1200px;
            font-size:14px;
            line-height: 1.7em;
            color:#fff;
        }
        .common-footer .contact{
            float:left;
        }
        .common-footer .contact li{
            padding-bottom:10px;
        }
        .common-footer .container h3{
            font-size:22px;
            margin-bottom:30px;
            text-align:center;
            font-weight:normal;
        }
        .common-footer .about{
            float:left;
            width:460px;
            padding-left:70px;
        }
        .common-footer .about .copyright{
            text-align:center;
            padding-top:20px;
        }
        .common-footer .about{
            float:left;
            width:460px;
            padding-left:70px;
        }
        .common-footer .symbiosis{
            float:left;
            padding-left:70px;
        }
</style>
}
<div class="common-container">
    <div class="mainlib_flex_wapper">
        <div class="mainlib">
            <div class="center-content">
                <ul>
                    <li>
                        <a href="">订单查询</a>
                    </li>
                </ul>
                <div class="order-search-box">
                    <div class="input-order flex-cells">
                        <div class="flex-cell input-box">
                            <input type="text" class="input-area" placeholder="最多可同时查询20条运单号，请以逗号、空格或回车键隔开。" />
                            <span></span>
                        </div>
                    </div>
                    <i class="iconfont icon-shanchu clear-order"></i>
                </div>
                <div class="order-btn-box">
                    <a href="#" class="btn btn-primary">查询</a>
                </div>
                <div class="order-search-result">
                    
                </div>
            </div>
        </div>
        <div class="rightlib">
            <div class="right-content">
                <div class="right-content-title">
                    <h2>
                        <i class="iconfont icon-gonggao"></i>
                        公告
                    </h2>
                </div>
                @if(Model.NoticeItems.Length == 0)
                { 
                <div>暂无公告</div>
                }
                else
                {                    
                <ul class="common-notice">
                    @foreach (var item in Model.NoticeItems)
                    {
                    <li>
                        <h3>
                            <a href="@Url.Action("detail", "notice", new { id = item.Nid })" title="@item.Title" target="_blank">
                                <i class="iconfont icon-right"></i><span>@item.Title</span>
                            </a>
                        </h3>
                        <p class="secondary-color">@item.Date.ToString("yyyy/MM/dd")</p>
                    </li>                        
                    }
                </ul>
                }
            </div>
        </div>
    </div>
</div>
<footer class="common-footer">
    <div class="container">
        <div class="contact">
            <h3>联系方式</h3>
            <ul>
                <li>Tel：510-371-3940</li>
                <li>Address：1441 Franklin st <br /> Oakland CA94612 二樓203室</li>
            </ul>
        </div>
        <div class="about">
            <h3>关于我们</h3>
            <p>
                跟斗云快递（GD express）成立于2015年，公司成立至今热衷于服务湾区华人，我们拥有专业的团队以及丰富的国际贸易进出口经验，致力于空运，货代，报关等服务。本公司秉持“公平诚信”为重大原则，集中开发国际物流新航道，为广大客户提供稳健以及高品质服务，全方位保障客户权益最大化
            </p>
            <p class="copyright">Copyright 2015-2016 跟斗云快递</p>
        </div>
        <div class="symbiosis">
            <h3>合作伙伴</h3>
            <p>
                <a href="http://www.fedex.com/cn/" target="_blank">
                    <img src="/Resources/Image/fedex-express.png" alt="fedex" />
                </a>
                <a href="http://www.yundaex.com/" target="_blank">
                    <img src="/Resources/Image/yundaex.png" alt="fedex" />
                </a>
            </p>
        </div>
        <div style="clear:both"></div>
    </div>
</footer>

<script type="text/javascript">
    $(function () {
        var $box = $(".order-search-box");
        var $input = $(".input-area", $box),
            $orders = $(".input-order", $box),
            $clear = $(".clear-order", $box),
            $search = $(".order-btn-box .btn-primary"),
            $searchResult = $(".order-search-result");
        var orders = [], searching = false;

        $input.on("keyup", function (event) {
            if (event.which == 229 || event.which == 188 || event.which == 32 || event.which == 13)
            {
                var val = $input.val();
                val = $.trim(val.slice(0, val.length - 1));
                createItem(val);
                return false;
            }
        });
        $input.blur(function () {
            var val = $.trim($input.val());
            if (val) {
                createItem(val);
            }
        });

        $clear.click(function () {
            if (confirm("清除所有单号？")) {
                orders = [];
                $(".order-num", $box).remove();
            }
        });


        $search.click(function () {
            if (searching) return false;
            if (orders.length == 0) {
                alert("请先填写单号");
            } else if (orders.length > 20) {
                alert("最多填写20个单号");
            } else {
                searching = true;
                $.ajax({
                    url: '@Url.Action("way", "bill")',
                    type: 'post',
                    dataType: 'json',
                    data: { nos: orders.join(',') },
                    success: function (data) {
                        $searchResult.empty();
                        if (data.code == 0) {
                            if (!data.data || !data.data.length) {
                                alert("未查询到对应的运单");
                            } else {
                                for (var i = 0; i < data.data.length; i++) {
                                    $searchResult.append(createReasultItem(data.data[i]));
                                }
                            }
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function () { alert('网络错误，请重试'); }
                }).always(function () { searching = false; })
            }
            return false;
        });

        function createReasultItem(data) {
            var html = '<div>' +
                            '<table>' +
                                '<caption>订单号:<span>' + data.No + '</span>;当前状态:<span>' + data.StateName + '</span></caption>';

            if (data.InternalNo) {
                html += '<tr>' +
                            '<td colspan ="3" class="internal-express">' +
                                '国内快递：' + data.InternalExpress + '，快递单号：' +
                                '<a target="_blank" href="http://www.kuaidi100.com/chaxun?com=' + encodeURIComponent(data.InternalExpress || '') + '&nu='+ data.InternalNo +'">' + data.InternalNo + '</a>' +
                            '</td>'
                        '</tr>';
            }

            html +=             '<tr>' +
                                    '<th>处理时间</th>' +
                                    '<th>订单状态</th>' +
                                    '<th>备注</th>' +
                                '</tr>';

            if(data.Histories){
                for (var i = 0; i < data.Histories.length; i++) {
                    html += '<tr>' +
                                '<td>' + data.Histories[i].Created + '</td>' +
                                '<td>' + data.Histories[i].StateName + '</td>' +
                                '<td>' + (data.Histories[i].Remarks || '') + '</td>' +
                            '</tr>';
                }
            }
            html += '</table>' +
                '</div>';

            return $(html);
        }

        function createItem(val) {
            if (val && !$.isArray(val, orders)) {
                var $elem = $('<div class="flex-cell order-num"><span>' + val + '</span><i class="iconfont icon-iconfonticonfontclose"></i></div>');
                $elem.find("i").click(function () {
                    $elem.remove();
                    removeItem(val);
                })
                $input.parent().before($elem);
                orders.push(val);
                $input.val('');
            }
        }

        function removeItem(val) {
            var newOrders = [];
            for (var i = 0; i < orders.length; i++) {
                if (val != orders[i]) {
                    newOrders.push(orders[i]);
                }
            }
            orders = newOrders;
        }
    });
</script>
