@model BHOffice.Web.Models.Common.LeftMenuModel
@{
    Layout = null;
}
<ul class="sidebar">
    <li><a href="@Url.Action("edit", "bill", new { id = String.Empty })" @(Url.IsCurrent("edit", "bill") ? "class=\"current\"" : String.Empty)>创建单个运单</a></li>
    <li><a href="@Url.Action("list", "bill")" @(Url.IsCurrent("list", "bill") ? "class=\"current\"" : String.Empty)>运单列表</a></li>
    <li><a href="@Url.Action("password", "user")" @(Url.IsCurrent("password", "user") ? "class=\"current\"" : String.Empty)>修改密码</a></li>
    @if (Model.IsAdmin)
    {
        <li><a href="@Url.Action("list", "user")" @(Url.IsCurrent("list", "user") ? "class=\"current\"" : String.Empty)>用户管理</a></li>
        <li><a href="@Url.Action("list", "notice")" @(Url.IsCurrent("list", "notice") ? "class=\"current\"" : String.Empty)>公告管理</a></li>
        <li style="display:none"><a href="@Url.Action("about", "notice")" @(Url.IsCurrent("about", "notice") ? "class=\"current\"" : String.Empty)>关于我们</a></li>
    }
</ul>
