@model BHOffice.Web.Models.Bill.ListModel
@{
    ViewBag.Title = "运单列表";
    Layout = "../Layout/_ManagerLeft.cshtml";
    var itemIndex = 0;
}
@section head{
    <style>
        .common-form{
            width:1000px;
        }
        .bill-list {
            margin-top: 8px;
        }
        .bill-list .addr{
        }
        .bill-list .action {
            text-align: left;
        }
        .bill-list .action a {
            margin-right:6px;
            color:#369            
        }
        .batch-options {
            margin-top: 15px;
        }
        #import-internal-no-form{
            display:inline
        }
        #import-internal-no-form .internal-file{
            width:180px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/Resources/css/jquery.datetimepicker.min.css" />
}
<script type="text/javascript" src="/Resources/Js/jquery.datetimepicker.full.min.js"></script>
<div>
    <form action="@Url.Action("list")" enctype="application/x-www-form-urlencoded" method="get">
        <table class="common-form">
            <tr>
                <td class="tips">单号：</td>
                <td><input name="No" value="@Model.Query.No" class="input-control" /></td>
                <td class="tips">收件人：</td>
                <td><input name="Receiver" value="@Model.Query.Receiver" class="input-control" /></td>
                <td class="tips">状态：</td>
                <td>
                    @Html.DropDownList("State", Util.GetBillStateSelectList(Model.Query.State), "--运单状态--", new { @class = "input-control" })
                </td>
            </tr>
            <tr>
                <td class="tips">创建时间：</td>
                <td>
                    <input name="MinCreated" value="@Html.DisplayFor(m => m.Query.MinCreated)" class="time-control" />
                    到
                    <input name="MaxCreated" value="@Html.DisplayFor(m => m.Query.MaxCreated)" class="time-control" />
                </td>                
                @if (Model.IsDisplayTrackButton)
                {
                    <td class="tips">创建者：</td>
                    <td><input name="Creater" value="@Model.Query.Creater" class="input-control" /></td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                <td colspan="2">
                    <input value="搜 索" type="submit" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </form>
</div>
@if (Model.IsDisplayAgent)
{
<div class="batch-options">
    <a class="btn btn-primary j-batch-track" href="#j-batch-track-popup">批量追踪</a>
    <div style="display:inline;;margin-left:15px">
        <form id="import-internal-no-form" action="@Url.Action("ConfirmImportInternalNo")" method="post" enctype="multipart/form-data" target="_blank">
            <input type="file" value="选择国内单号文件" name="InternalFile" class="internal-file"/>
            <input value="导入国内单号" type="submit" class="btn btn-primary" />
        </form>
        <a target="_blank" href="/Resources/templates/gd-internal-no-template.csv">国内单号导入模板</a>
    </div>
</div>
}
<table class="common-list bill-list">
    <thead>
        <tr>
            @if (Model.IsDisplayAgent)
            {
            <th style="width:2%"><input type="checkbox" class="j-batch-all" /></th>
            <th style="width:5%">代理商</th>
            }
            <th style="width:10%">订单号</th>
            <th style="width:5%">创建者</th>
            <th style="width:12%">创建时间</th>
            <th style="width:5%">收件人</th>
            <th>收件地址</th>
            <th style="width:10%">状态</th>
            <th style="width:12%">功能</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr class="@(itemIndex++%2!=0 ? "bc-row" : String.Empty)">
                @if (Model.IsDisplayAgent)
                {
                    <td><input type="checkbox" value="@item.Bid" class="j-batch-item" /></td>
                    <td>@item.AgentName</td>
                }
                <td>@item.No</td>
                <td>@item.CreaterName</td>
                <td>@item.Created.ToString("yyyy/MM/dd HH:mm:ss")</td>
                <td>@item.ReceiverName</td>
                <td class="addr">@item.ReceiverAddr</td>
                <td>@item.StateName</td>
                <td class="action">
                    <a target="_blank" href="@Url.Action("Edit", new { id = item.Bid })">编辑</a>
                    <a target="_blank" href="@Url.Action("Print", new { id = item.Bid })">打印</a>
                    @if (Model.IsDisplayTrackButton)
                    {
                        <a target="_blank" href="@Url.Action("Track", new { id = item.Bid })">追踪</a>
                    }
                    @if (item.IsDisplayDeleteButton)
                    {
                        <a href="#" data-bid="@item.Bid" class="j-del">删除</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="white-popup mfp-hide" id="j-batch-track-popup" style="width:400px;padding:15px 20px">
    <table class="common-form" style="width:100%">
        <tr>
            <td class="tips">状态：</td>
            <td>
                @Html.DropDownList("State", Util.GetBillStateSelectList(null), "--运单状态--")
            </td>
        </tr>
        <tr>
            <td class="tips">操作时间：</td>
            <td>
                <input name="Created" class="input-control" />
            </td>
        </tr>
        <tr>
            <td class="tips">备注：</td>
            <td>
                <textarea name="Remarks" class="textarea-control"></textarea>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input value="True" name="UpdateState" checked="checked" type="checkbox" />更新运单状态
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input value="保存" type="button" class="btn btn-primary" style="margin:15px 0 0 0;" />
            </td>
        </tr>
    </table>
</div>
<div style="margin:0 auto">
    <div class="page">
        @Html.Pager(Model.Items)
    </div>
</div>
<script>
    (function () {
        $(".j-del").click(function () {
            var bid = $(this).data("bid");
            if (confirm("删除后不可恢复，确定要删除么？")) {
                $.ajax({
                    url: "@Url.Action("Del")",
                    data: { bid: bid },
                    type: "post",
                    dataType: "text json",
                    success: function (data) {
                        if (data.code == 0) {
                            location.reload();
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function () {
                        alert("出错了，请重试！");
                    }
                });
                return false;
            }
        });
        $.datetimepicker.setLocale('ch');
        $("[name=MinCreated],[name=MaxCreated]").datetimepicker({ timepicker: false, format: 'Y/m/d' });
    })();
    (function () {
        var $all = $(".j-batch-all"), $items = $(".j-batch-item");
        $all.click(function () {
            $items.prop("checked", $(this).prop("checked"));
            $items.trigger("state-changed");
        });
        $items.click(function () {
            $(this).trigger("state-changed");
        }).on("state-changed", function () {
            var parent = $(this).parents("tr").eq(0);
            if ($(this).prop("checked"))
                parent.addClass("bg-checked");
            else
                parent.removeClass("bg-checked");
        });
        var $trackPopup = $("#j-batch-track-popup"),
            $trackState = $trackPopup.find("[name=State]"),
            $trackCreated = $trackPopup.find("[name=Created]"),
            $trackRemarks = $trackPopup.find("[name=Remarks]"),
            $trackUpdateState = $trackPopup.find("[name=UpdateState]"),
            $trackButton = $trackPopup.find(".btn-primary");
        $(".j-batch-track").magnificPopup({
            type: 'inline',
            closeOnBgClick: false,
            disableOn:function(){
                if ($items.filter(":checked").length > 0)
                    return true;
                alert("没有选择运单");
                return false;
            },
            callbacks: {
                beforeOpen: function () {
                    var now = new Date();
                    $trackCreated.val(now.getFullYear() + '/' + (now.getMonth() + 1) + '/' + now.getDate() + ' ' + now.getHours() + ':' + now.getMinutes() + ":" + now.getSeconds());
                }
            }
        });
        var trackSubming = false;
        $trackButton.click(function () {
            var data = {
                State: $.trim($trackState.val()),
                Created: $.trim($trackCreated.val()),
                Remarks: $.trim($trackRemarks.val()),
                UpdateState: $trackUpdateState.is(":checked") ? $.trim($trackUpdateState.val()) : null,
                Bids: []
            };
            $items.filter(":checked").each(function (i, elem) {
                data.Bids.push($(elem).val());
            });
            if (!data.Bids.length)
                alert("没有选择运单");
            else if (!data.State)
                alert("没有选择运单状态");
            else if (!data.Created)
                alert("没有设置运单状态更新时间");
            else {
                trackSubming = true;
                data.Bids = data.Bids.join(",");
                $.ajax({
                    url: '@Url.Action("track", "bill")',
                    type: 'post',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        if (data.code == 0) {
                            location.reload();
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function () {
                        alert("出错了，请重试！");
                    }
                }).always(function () { trackSubming = false; });
            }
            return false;
        });

        $trackCreated.datetimepicker({ timepicker: false, format: 'Y/m/d' });


    })();
</script>
