@model BHOffice.Web.Models.Bill.TrackModel
@{
    ViewBag.Title = "运单追踪";
    Layout = "../Layout/_ManagerLeft.cshtml"; 
}
<div>单号：@Model.No &nbsp;&nbsp;&nbsp;状态：@Model.State.ToString()</div>
<div>
    <h3 style="margin:8px 0 5px;font-size:12px;font-weight:normal">历史状态：</h3> 
    <table class="common-list">
        <thead>
            <tr>
                <th style="width:12%">操作时间</th>
                <th style="width:12%">状态</th>
                <th>备注</th>
                <th style="width:5%">删除</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Histroys)
            {
                <tr>
                    <td>@item.Created.ToString("yyyy/MM/dd HH:mm:ss")</td>
                    <td>@item.State.ToString()</td>
                    <td>@item.Remarks</td>
                    <td><a href="#" data-bhid="@item.Bhid" class="j-del">删除</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div style="border-top:1px solid #000;margin-top:20px;padding-top:20px;">
    <form enctype="application/x-www-form-urlencoded" method="post" action="@Url.Action("Track")">
        <input type="hidden" name="Bids" value="@Model.Bid" />
        <table class="common-form">
            <tr>
                <td class="tips">状态：</td>
                <td>
                    @Html.DropDownList("State", Util.GetBillStateSelectList(null), "--运单状态--")
                </td>
            </tr>
            <tr>
                <td class="tips">操作时间：</td>
                <td>
                    <input name="Created" value="@(DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss"))" class="input-control" />
                </td>
            </tr>
            <tr>
                <td class="tips">备注：</td>
                <td>
                    <textarea name="Remarks" class="textarea-control"></textarea>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input value="True" name="UpdateState" checked="checked" type="checkbox" />更新运单状态
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input value="保存" type="submit" class="btn btn-primary" style="margin:15px 0 0 0;"  />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    (function () {
        $(".j-del").click(function () {
            var bhid = $(this).data("bhid");
            if (confirm("删除后不可恢复，确定要删除么？")) {
                $.ajax({
                    url: "@Url.Action("DelHistory")",
                    data: { bhid: bhid, bid: '@Model.Bid' },
                    type: "post",
                    dataType: "text json",
                    success: function (data) {
                        if (data.code == 0) {
                            location.reload();
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function () {
                        alert("出错了，请重试！");
                    }
                });
                return false;
            }
        });

        var $track = $("form"),
            $trackBids = $track.find("[name=Bids]"),
            $trackState = $track.find("[name=State]"),
            $trackCreated = $track.find("[name=Created]"),
            $trackRemarks = $track.find("[name=Remarks]"),
            $trackUpdateState = $track.find("[name=UpdateState]"),
            $trackButton = $track.find(".btn-primary");
        var trackSubming = false;
        $trackButton.click(function () {
            var data = {
                State: $.trim($trackState.val()),
                Created: $.trim($trackCreated.val()),
                Remarks: $.trim($trackRemarks.val()),
                UpdateState: $trackUpdateState.is(":checked") ? $.trim($trackUpdateState.val()) : null,
                Bids: $trackBids.val()
            };
            if (!data.State)
                alert("没有选择运单状态");
            else if (!data.Created)
                alert("没有设置运单状态更新时间");
            else {
                trackSubming = true;
                $.ajax({
                    url: $track.attr("action"),
                    type: 'post',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        if (data.code == 0) {
                            location.reload();
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function () {
                        alert("出错了，请重试！");
                    }
                }).always(function () { trackSubming = false; });
            }
            return false;
        })
    })();
</script>
