@{
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Resources/css/style.css">
    <link rel="stylesheet" href="/Resources/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="/Resources/css/magnific-popup.css">
    <style>
        .login-actions{
            padding-right:30px;
        }
        .white-popup {
            position: relative;
            background: #FFF;
            padding: 40px;
            width: auto;
            margin: 20px auto;
        }
        a.btn-primary{
            color:#fff;
        }
    </style>
    @RenderSection("head", false)
</head>
<body>
    <script src="/Resources/Js/jQuery-3.1.0.min.js"></script>
    <script src="/Resources/Js/jquery.magnific-popup.min.js"></script>
    <header class="common-header">
        <div class="container">
            <div class="pc-nav">
                <a class="logo" href="/">
                    跟斗云快递
                </a>
                <nav>
                    <ul class="">
                        <li @(Url.IsCurrent("index", "index") ? "class=\"active\"" : String.Empty)><a href="@Url.Action("index", "index")">首页</a></li>
                        @{ /* 
                        <li><a href="">关于我们</a></li>
                        <li><a href="">价格与服务</a></li>
                        */}
                        <li @(Url.IsCurrent("list", "bill") ? "class=\"active\"" : String.Empty)><a href="@Url.Action("list", "bill")">业务中心</a></li>
                    </ul>
                </nav>
            </div>
            <div class="pc-header-right">
                <ul class="sub-nav">
                    @if (this.Session.GetCurrentUser() == null)
                    {
                    <li class="login-actions">
                        <div class="login">
                            <div class="group">
                                <i class="iconfont icon-denglu"></i>
                                <a href="@Url.Action("login", "user")" class="">登录</a>
                            </div>
                            <div class="group">
                                <i class="iconfont icon-zhuce"></i>
                                <a href="@Url.Action("register", "user")" class="">注册</a>
                            </div>
                        </div>
                    </li>
                    }
                    else
                    {
                    <li class="user-info">
                        <div class="group">
                            欢迎你：<span>@(this.Session.GetCurrentUser().Name)</span>
                            <a href="@Url.Action("logout", "user")">退出</a>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
</body>
</html>
